html {
  background: url(earth-from-space.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
  font-family: 'Muli', sans-serif, sans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ovo', Georgia, serif;
}

p {
    line-height: 1.8em;
}

p > code {
    font-size: 0.8em;
    padding: 5px;
    border: 1px solid hsla(100, 0%, 100%, 0.1);
    border-radius: 3px;
}

pre {
    padding: 15px;
    background: black;
}

a:link,
a:visited,
a:active {
    color: yellow;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid yellow;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: url(overlay.png);
    z-index: 0;
    width: 100%;
    height: 100%;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#main {
    max-width: 700px;
    margin: auto;
    padding: 30px;
    background: hsla(0, 0%, 0%, 0.9);
}

#header h1 a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

#navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
    margin: 15px;
}

#navigation li {
    display: inline-block;
}
